
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

body { 
  position:fixed; top:0; bottom:0; right:0; left:0;
}

.text {
  font-family: Calibri,sans-serif;
}

.tree-container {
  position:absolute; top: 4%; bottom: 0%;
  width: 100%;
  height: 96.9%;
  background: white;
  white-space: nowrap;
}

.top-container {
  width: 25%;
  height: 4%;
  background: white;
  white-space: nowrap;

}

.right-container {
  position:absolute; top: 40%; left: 100%;
  height: 100%;
  width: 100%;
  background: white;
  white-space: nowrap;
}